@tailwind base;
@tailwind components;
@tailwind utilities;

.video-react .video-react-big-play-button {
    background-color: #6d28d9  !important; 
    border: 1px !important; 
     border-color: #8b5cf6 !important;
    /*!important;*/
    
}


